{% extends 'ric/base.html' %} {% block content %}
<section class="about-me">
  <h2 class="about-me-subtitle">Programming</h2>
  <div class="about-me-content">
    Coding has always been something I've been interested in. I started learning
    it in senior high school (grade 10-12) where I graduated from the major
    IT/DATA. We learned the basics of 3 different programming languages for one
    year each; Visual Basic, C++ and Java respectively. Although I don't
    remember much about the languages per say, it gave me an excellent
    foundation on which I am continuing to build today. Currently, I wish to
    utilize my main languages, Python and JavaScript, to create full-stack
    solutions. This simple website was created using Python(+Django) for
    example. I'm learning new syntax, libraries and frameworks all the time and
    constantly improving myself so that I can develop the things I yearn to
    create.
  </div>
  <h2 class="about-me-subtitle">Background</h2>
  <div class="about-me-content">
    I am currently living in Taipei, Taiwan and have been for the last 11+
    years. I came here from Japan right after the 3/11 incident as our
    graduation ceremony was cancelled because of it and immediately threw myself
    into more language learning by taking Mandarin courses at National Sun
    Yat-Sen University for 1.5 years. Right after that, in the summer of 2012, I
    enrolled at the same university in their Business Administration major
    (Taiwanese class) and graduated in 2016. I enrolled in this major for a
    simple reason; I thought I was just as well suited for that job as my dad,
    who has been a very successful businessman. It didn't take me too long to
    figure out the fact that <em>I am not my dad</em>
    and realized that I should give coding another try. It took me longer than
    expected, but I eventually participated in a Taipei City government
    sponsored vocational program for developing websites using Python from which
    I was able to graduate and receive a certificate.
  </div>
</section>
{% endblock content %}
