{% extends 'ric/base.html' %} {% block content %}
<div class="list-item">
  <div class="list-item-row">
    <div class="list-item-row-col">
      <div class="list-link-icon">
        <img src="/static/{{ list_icon }}" alt="Education Icon" />
      </div>
    </div>
    <div class="list-item-row-col">
      <div class="list-item-timespan">
        {{ ed_item.start_date }} - {{ ed_item.end_date }}
      </div>
      <div class="list-item-header">
        <h3 class="list-item-title">{{ ed_item.institution }}</h3>
        <h4 class="list-item-subtitle">{{ ed_item.major }}</h4>
      </div>
    </div>
    <div class="list-item-row-col ed-item-info-div">
      <div class="ed-item-info">
        <span class="ed-item-info-header"
          >Subjects covered: {{ ed_item.subjects_count }}</span
        ><br />
        {{ ed_item.subjects_to_str }}
      </div>
    </div>
  </div>
  <hr />
  <div class="description-row">
    <div class="comments">{{ ed_item.comments }}</div>
    <span class="subject-by-weight">Subjects by weight:</span>
    <ol>
      {% for subject in ed_item.subjects %}
      <li>{{ subject }}</li>
      {% endfor %}
    </ol>
    </div>
  </div>
</div>
{% endblock content %}
