{% extends 'ric/base.html' %} {% block content %}
<div class="list-item">
  <div class="list-item-row">
    <div class="list-item-row-col">
      <div class="list-link-icon">
        <img src="/static/{{ list_icon }}" alt="Experience Icon" />
      </div>
    </div>
    <div class="list-item-row-col">
      <div class="list-item-timespan">
        {{ exp_item.start_date }} - {{ exp_item.end_date }}
      </div>
      <div class="list-item-header">
        <h3 class="list-item-title">{{ exp_item.organization }}</h3>
        <h4 class="list-item-subtitle">{{ exp_item.job_title }}</h4>
      </div>
    </div>
    <div class="list-item-row-col">
      <div class="list-item-location">
        <div class="list-item-location-logo">
          <img src="/static/ric/icons/icon_location.svg" alt="Location Icon" />
        </div>
        <span class="location-header">Location: {{ exp_item.location }}</span
        ><br />
        {{ exp_item.subjects_to_str }}
      </div>
    </div>
  </div>
  <hr />
  <div class="description-row-single-col">
    <div class="comments-exp">{{ exp_item.summary }}</div>
  </div>
</div>
{% endblock content %}
