* {
  font-family: 'Iceland', cursive;
  color:#FFF;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

body {
  background-color: #002162;
}

h1.page-title {
  font-size: 2rem;
  color: #FFF;
  -webkit-text-stroke: 1px #FF8A00;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: minmax(100vh, auto);
}

section.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

div.menu-item {
  height: 10vh;
  width: 90vw;
  border-radius: 5vh;
  background-color: rgba(0, 21, 62, 0.5);
}

@keyframes menu_item_animation {
  0% {background-color: rgba(0, 21, 62, 0.5);}
  100% {background-color: rgba(0, 63, 186, 0.5);}
}

div.menu-item:hover {
  animation-name: menu_item_animation;
  animation-duration: 0.15s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.menu-item > a {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 1rem;
  width: inherit;
  height: inherit;
  display: block;
  text-decoration: none;
  color: #FFF;
}

div.menu-link-icon {
  width: 9vh;
  height: 9vh;
  border: 0.5vh solid #FF8A00;
  background-color: #777777;
  border-radius: 5vh;
  display: inline-block;
}

div.menu-link-icon > img {
  position: relative;
  left: 1vh;
  top: 1vh;
  width: 7vh;
  height: 7vh;
}

h3.menu-link {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  left: 1.5vh;
  top: -1vh;

}

/* GENERAL, but not INDEX */

section.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

section.item-list > a {
  text-decoration: none;
}

div.list-item {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 55px;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

div.list-item:hover {
  animation-name: menu_item_animation;
  animation-duration: 0.15s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/* EDUCATION PAGE */

div.list-item-row {
  display: grid;
  grid-template-rows: 15vh;
  grid-auto-rows: minmax(20vh, auto);
  grid-template-columns: 25vw 65vw;
  grid-template-areas:
    "logo header"
    "content content";
  grid-row-gap: 10px;
  width: 90vw;
  margin-bottom: 0.75rem;
}

div.ed-item-info-div {
  grid-area: content;
  margin: 0.5rem;
}

div.list-item-row-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.list-link-icon {
  width: 9vh;
  height: 9vh;
  border: 0.5vh solid #FF8A00;
  background-color: #777777;
  border-radius: 5vh;
  display: inline-block;
}

div.list-link-icon > img {
  position: relative;
  left: 1vh;
  top: 1vh;
  width: 7vh;
  height: 7vh;
}

div.list-item-timespan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
}

div > h3.list-item-title {
  color: #FFF;
  text-decoration: underline;
  font-size: 1rem;
}

div > h4.list-item-subtitle {
  color: #FFF;
  font-size: 0.9rem;
}

div.ed-item-info {
  width: minmax(25vw, 80vw);
  height: auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

div.ed-item-info > span.ed-item-info-header {
  color: #FFF;
}

/* EDUCATION DETAIL */

div.list-item > hr {
  color: #FFF;
  width: 75vw;
  display: inline-block;
  position: relative;
  left: 2.5vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* EXPERIENCES DETAIL */

div.list-item-location-logo, div.list-item-location {
  display: inline-block;
}

div.list-item-location-logo > img {
  height: 1rem;
  width: 1rem;
}

div.list-item-location > span {
  font-size: 1rem;
}

div.comments-exp {
  font-size: 0.9rem;
}

/* DETAIL (GENERAL) */

div.description-row {
  display: grid;
  grid-template-rows: minmax(20vh, auto);
  grid-row-gap: 0.5rem;
  width: 90vw;
  margin-bottom: 10px;
}

div.description-row > * {
  margin: 1rem;
  font-size: 0.8rem;
}

div.description-row > ol > li {
  position: relative;
  left: 10vw;
  top: -5vh;
  font-size: 0.8rem;
}

div.description-row-single-col {
  display: grid;
  grid-template-columns: 60vw;
  grid-template-rows: minmax(225px, auto);
  margin-bottom: 10px;
  margin-left: 10vw;
}

/* ABOUT ME */

section.about-me {
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  width: 85vw;
}

h2.about-me-subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
  text-decoration: underline;
}

div.about-me-content {
  font-size: 0.8rem;
  color:rgba(255, 255, 255, 0.80);
}
