* {
  font-family: 'Iceland', cursive;
  padding: 0;
  margin: 0;
}

body {
  background-color: #002162;
}

h1.page-title {
  font-size: 95px;
  color: #FFF;
  -webkit-text-stroke: 1px #FF8A00;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

div.menu-item {
  height: 150px;
  width: 700px;
  border-radius: 25px;
  background-color: rgba(0, 21, 62, 50);
}

div.menu-item > a {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 72px;
  width: inherit;
  height: inherit;
  display: block;
  text-decoration: none;
  color: #FFF;
}

div.menu-link-icon {
  position: relative;
  top: 15px;
  left: 15px;
  width: 110px;
  height: 110px;
  border: 5px solid #FF8A00;
  background-color: #777777;
  border-radius: 60px;
  display: inline-block;
}

div.menu-link-icon > img {
  position: relative;
  left: 10px;
  top: 10px;
}

h3.menu-link {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 72px;
  display: inline-block;
  position: relative;
  left: 50px;
}
