* {
  font-family: 'Iceland', cursive;
  color:#FFF;
  padding: 0;
  margin: 0;
}

body {
  background-color: #002162;
}

h1.page-title {
  font-size: 95px;
  color: #FFF;
  -webkit-text-stroke: 1px #FF8A00;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

section.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

div.menu-item {
  height: 150px;
  width: 700px;
  border-radius: 25px;
  background-color: rgba(0, 21, 62, 0.5);
}

@keyframes menu_item_animation {
  0% {background-color: rgba(0, 21, 62, 0.5);}
  100% {background-color: rgba(0, 63, 186, 0.5);}
}

div.menu-item:hover {
  animation-name: menu_item_animation;
  animation-duration: 0.15s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.menu-item > a {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 72px;
  width: inherit;
  height: inherit;
  display: block;
  text-decoration: none;
  color: #FFF;
}

div.menu-link-icon {
  position: relative;
  top: 15px;
  left: 15px;
  width: 110px;
  height: 110px;
  border: 5px solid #FF8A00;
  background-color: #777777;
  border-radius: 60px;
  display: inline-block;
}

div.menu-link-icon > img {
  position: relative;
  left: 10px;
  top: 10px;
}

h3.menu-link {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 72px;
  display: inline-block;
  position: relative;
  left: 50px;
}

/* GENERAL, but not INDEX */

section.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 750px;
}

section.item-list > a {
  text-decoration: none;
}

div.list-item {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 55px;
}

/* EDUCATION PAGE */

div.list-item-row {
  display: grid;
  grid-template-columns: 120px 30vw 40vw;
  grid-template-rows: minmax(120px, auto);
  grid-column-gap: 10px;
  width: 80vw;
}

div.list-item-row-col {
  display: flex;
  flex-direction: column;
}

div.list-item-row:hover {
  animation-name: menu_item_animation;
  animation-duration: 0.15s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.list-link-icon {
  width: 110px;
  height: 110px;
  border: 5px solid #FF8A00;
  background-color: #777777;
  border-radius: 60px;
  display: inline-block;
}

div.list-link-icon > img {
  position: relative;
  left: 10px;
  top: 10px;
}

div.list-item-timespan {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
}

div > h3.list-item-title {
  color: #FFF;
  text-decoration: underline;
  font-size: 32px;
}

div > h4.list-item-subtitle {
  color: #FFF;
  font-size: 24px;
}

div.ed-item-info {
  margin-top: 5px;
  width: minmax(300px, 40vw);
  height: minmax(100px, auto);
  color: rgba(255, 255, 255, 0.5);
}

div.ed-item-info > span.ed-item-info-header {
  color: #FFF;
}

/* EDUCATION DETAIL */

div.list-item > hr {
  color: #FFF;
  width: 75vw;
  display: inline-block;
  position: relative;
  left: 2.5vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* DETAIL (GENERAL) */

div.detail-item-row {
  display: grid;
  grid-template-columns: 120px 30vw 40vw;
  grid-template-rows: 120px;
  grid-column-gap: 10px;
  width: 80vw;
}

div.description-row {
  display: grid;
  grid-template-columns: 37vw 43vw;
  grid-template-rows: minmax(280px, auto);
  grid-column-gap: 25px;
  width: 80vw;
  margin-bottom: 10px;
}

div.description-row > div.comments {
  margin: 2em;
}